<footer>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
        <p>Copyright 2013 (C) <a href="mailto:xiangzhai83@gmail.com?subject=LeetCode中文">Zhai Xiang</a><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cdiv id='cnzz_stat_icon_1000037212'%3E%3C/div%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000037212%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></p>
    </div>
    <div class="unit two-thirds align-right center-on-mobiles">
      <p>所有题库、答案、文档、源代码遵循<a href="http://www.gnu.org/licenses/quick-guide-gplv3.html" target="_blank">GPL v3<a> 请轻轻地注明出处地转载 :)</p>
    </div>
  </div>
</footer>
