<footer>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
        <p>Copyright 2013 (C) <a href="mailto:xiangzhai83@gmail.com?subject=LeetCode中文">Zhai Xiang</a></p>
    </div>
    <div class="unit two-thirds align-right center-on-mobiles">
      <p>所有题库、答案、文档、源代码遵循<a href="http://www.gnu.org/licenses/quick-guide-gplv3.html" target="_blank">GPL v3</a> 请轻轻地注明出处地转载 :)</p>
    </div>
  </div>
  <span style="display:none">
    <script src="http://s5.cnzz.com/stat.php?id=1000037212&web_id=1000037212" language="javascript"></script>
  </span>
</footer>
